<template lang="pug">
layout
  main
    post-header(:post='$page.post')
    article.max-w-xl.mx-auto.px-6.pt-16.border-b.border-grey-lighter.pb-10.mb-16(class='md:max-w-2xl xl:max-w-3xl sm:px-12')
      alert.bg-orange-100.border-l-4.border-orange-500.text-orange-900(v-if='postIsOlderThanOneYear')
        | This post is over a year old, some of this information may be out of date.
      .markdown.text-lg.leading-normal.text-gray-700(:class="{'pb-10': $page.post.tags}" v-html='$page.post.content')
      footer.flex.flex-wrap.pb-10(v-if='$page.post.tags || $page.post.categories', class='sm:pb-16')
        div
          g-link.inline-block.text-teal-400.border.border-teal-400.font-sans.font-bold.text-xs.px-4.py-2.mr-4.mb-2.rounded-full.transition-colors.duration-300(v-for='tag in $page.post.tags', :key='tag.id', :to='`${tag.path}/`', class='hover:text-white hover:bg-teal-400 sm:text-sm')
            svg.inline.w-3.fill-current.align-middle.mr-1(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 20 20', role='img')
              path(d='M0 10V2l2-2h8l10 10-10 10L0 10zm4.5-4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z')
            |             {{ tag.title }}
          g-link.inline-block.text-teal-400.border.border-teal-400.font-sans.font-bold.text-xs.px-4.py-2.mr-4.mb-2.rounded-full.transition-colors.duration-300(
            v-for='{ id, title, path } in $page.post.categories'
            :key='id'
            :to='`${path}/`'
            class='hover:text-white hover:bg-teal-400 sm:text-sm'
          )
            svg.inline.w-3.fill-current.align-middle.mr-1(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 20 20', role='img')
              path(d='M0 10V2l2-2h8l10 10-10 10L0 10zm4.5-4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z')
            |             {{ title }}
    site-footer.pb-8(class='sm:pb-10')
</template>

<script>
import moment from 'moment';
import Alert from '@/components/Alert';
import slugify from '@sindresorhus/slugify';
import SiteFooter from '@/components/Footer';
import config from '~/.temp/config.js';
import PostHeader from '~/components/PostHeader';

export default {
  components: {
    Alert,
    PostHeader,
    SiteFooter,
  },
  metaInfo() {
    return {
      title: `${this.$page.post.title} ${this.$page.post.tag ? `- ${this.$page.post.tag.name}` : ''}`,
      meta: [
        {
          key: 'description',
          name: 'description',
          content: this.description(this.$page.post),
        },

        { property: 'og:type', content: 'article' },
        { property: 'og:title', content: this.$page.post.title },
        { property: 'og:description', content: this.description(this.$page.post) },
        { property: 'og:url', content: this.postUrl },
        { property: 'article:published_time', content: moment(this.$page.post.date).format('YYYY-MM-DD') },
        { property: 'og:image', content: this.ogImageUrl },

        { name: 'twitter:card', content: 'summary_large_image' },
        { name: 'twitter:title', content: this.$page.post.title },
        { name: 'twitter:description', content: this.description(this.$page.post) },
        { name: 'twitter:site', content: '@cossssmin' },
        { name: 'twitter:creator', content: '@cossssmin' },
        { name: 'twitter:image', content: this.ogImageUrl },
      ],
    };
  },
  computed: {
    config() {
      return config;
    },
    postIsOlderThanOneYear() {
      const postDate = moment(this.$page.post.datetime);
      return moment().diff(postDate, 'years') > 0;
    },
    postUrl() {
      const { siteUrl } = this.config;
      const postPath = this.$page.post.path;

      return postPath ? `${siteUrl}${postPath}` : `${siteUrl}/${slugify(this.$page.post.title)}/`;
    },
    ogImageUrl() {
      return this.$page.post.cover || `${this.config.siteUrl}/images/leela-card.png`;
    },
  },
  mounted() {
    import('medium-zoom').then((mediumZoom) => {
      this.zoom = mediumZoom.default('.markdown p > img');
    });
  },
  methods: {
    description(post, length, clamp) {
      if (post.description) {
        return post.description;
      }

      length = length || 280;
      clamp = clamp || ' ...';
      const text = post.content.replace(/<pre(.|\n)*?<\/pre>/gm, '').replace(/<[^>]+>/gm, '');

      return text.length > length ? `${text.slice(0, length)}${clamp}` : text;
    },
    titleCase(str) {
      return str.replace('-', ' ')
        .split(' ')
        .map(s => s.charAt(0).toUpperCase() + s.substring(1))
        .join(' ');
    },

  },
};
</script>

<page-query>
query Post ($path: String) {
  post (path: $path) {
    title
    path
    datetime: date (format: "YYYY-MM-DD HH:mm:ss")
    content
    description
    cover
    fullscreen
    tags {
      id
      title
      path
    }
    categories {
      id
      title
      path
    }
  }
}
</page-query>
