<template lang="pug">
layout
  main
    header
      .max-w-xl.flex.flex-col-reverse.mx-auto.text-center.px-6.pt-24.pb-10.border-b.border-gray-300(class='md:max-w-3xl xl:max-w-4xl md:py-32')
        p.text-gray-700.leading-normal {{ $page.tag.belongsTo.totalCount }} posts in total
        h1.text-4xl.font-sans.font-bold.mb-2.capitalize(class='sm:text-5xl md:text-6xl') {{ titleCase($page.tag.title) }}
        svg.w-5.fill-current.text-gray-500.mx-auto.mb-1(class='sm:w-6', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 20 20', role='img', aria-labelledby='tagIcon')
          title#tagIcon Posts tagged
          path(d='M0 10V2l2-2h8l10 10-10 10L0 10zm4.5-4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z')
      nav.absolute.top-0.left-0.z-20.mt-6.ml-6
        g-link.text-sm.border.text-gray-900.border-gray-400.opacity-75.rounded-full.px-4.py-2.transition-opacity.duration-300(to='/', class='hover:opacity-100') ← Домой
    section
      post-item(v-for='edge in $page.tag.belongsTo.edges', :key='edge.node.id', :post='edge.node')
    pagination(:base='`${$page.tag.path}`', :info='$page.tag.belongsTo.pageInfo', v-if='$page.tag.belongsTo.pageInfo.totalPages > 1')
    site-footer.py-8(class='sm:py-16')
</template>

<script>
import moment from 'moment';
import PostItem from '@/components/PostItem';
import SiteFooter from '@/components/Footer';
import Pagination from '@/components/Pagination';
import config from '~/.temp/config.js';

export default {
  components: {
    PostItem,
    Pagination,
    SiteFooter,
  },
  metaInfo() {
    return {
      title: `Posts tagged "${this.titleCase(this.$page.tag.title)}"`,
      meta: [
        {
          key: 'description',
          name: 'description',
          content: `Browse posts tagged "${this.titleCase(this.$page.tag.title)}"`,
        },

        { property: 'og:type', content: 'website' },
        { property: 'og:title', content: `Posts tagged "${this.titleCase(this.$page.tag.title)}"` },
        { property: 'og:description', content: `Browse posts tagged "${this.titleCase(this.$page.tag.title)}"` },
        { property: 'og:url', content: `${this.config.siteUrl}${this.$page.tag.path}` },
        { property: 'og:image', content: this.ogImageUrl },

        { name: 'twitter:card', content: 'summary_large_image' },
        { name: 'twitter:title', content: `Posts tagged "${this.titleCase(this.$page.tag.title)}"` },
        { name: 'twitter:description', content: `Browse posts tagged "${this.titleCase(this.$page.tag.title)}"` },
        { name: 'twitter:site', content: '@cossssmin' },
        { name: 'twitter:creator', content: '@cossssmin' },
        { name: 'twitter:image', content: this.ogImageUrl },
      ],
    };
  },
  computed: {
    config() {
      return config;
    },
    ogImageUrl() {
      return `${this.config.siteUrl}/images/leela-card.png`;
    },
  },
  methods: {
    titleCase(str) {
      return str.replace('-', ' ').split(' ').map(s => s.charAt(0).toUpperCase() + s.substring(1)).join(' ');
    },
  },
};
</script>

<page-query>
query Tag ($path: String!, $page: Int) {
  tag (path: $path) {
    id
    title
    path
    belongsTo (page: $page, perPage: 15) @paginate {
      totalCount
      pageInfo {
        totalPages
        currentPage
      }
      edges {
        node {
          ...on Post {
            id
            title
            datetime: date (format: "YYYY-MM-DD HH:mm:ss")
            path
            content
            excerpt
            description
          }
        }
      }
    }
  }
}
</page-query>
