<template lang="pug">
layout.bg-teal-400
  main.flex.items-center.h-screen
    .w-full.max-w-xs.mx-auto.px-6.relative(class='sm:w-3/4 md:w-3/5 lg:w-2/5 md:px-0')
      span.absolute.-mt-10.text-5xl.inset-x-0.text-center.pointer-events-none 🧐
      section.bg-gray-100.mx-auto.px-8.py-6.rounded.shadow-xl.relative
        h1.text-2xl.font-sans.font-bold.mb-4 Page Not Found
        p.font-serif.mb-4.leading-normal.text-gray-700
          | Looks like you've followed a broken link or entered a URL that doesn't exist on this site.
        g-link.text-sm.text-teal-400.font-sans.transition-color.duration-300(to='/', class='hover:text-teal-600') ← Back to our site
</template>

<script>
export default {
  metaInfo() {
    return {
      title: 'Page Not Found (404)',
    };
  },
};
</script>
