<template lang="pug">
layout.bg-white
  main
    header
      .max-w-xl.mx-auto.text-center.px-6.py-10.border-b.border-gray-300(class="md:max-w-3xl xl:max-w-4xl md:py-32")
        h1.text-4xl.font-sans.font-bold.mb-1(class="sm:text-5xl md:text-6xl")
          g-link.text-black(to="/") Leela
        p.text-gray-700.text-lg(class="sm:text-3xl") Размышления, истории и идеи
        //- .max-w-xl.mx-auto.text-center.px-6.py-10.border-b.border-gray-300(class="md:max-w-3xl xl:max-w-4xl md:py-32")
        div(:class="$style.menu")
          .mr-3
            g-link.inline-block.border.border-white.rounded.text-blue-500.py-1.px-3(
              class='hover:border-gray-200 hover:bg-gray-200'
              to="/category/my/"
            ) Мысли вслух
          .mr-3
            g-link.inline-block.border.border-white.rounded.text-blue-500.py-1.px-3(
              class='hover:border-gray-200 hover:bg-gray-200'
              to="/category/jyotish/"
            ) Лунная астрология Джйотиш

        //- p.text-gray-700.leading-normal.text-sm(class='sm:text-base')
    section
      post-item(
        v-for="{ node } in $page.posts.edges"
        :key="node.id"
        :post="node"
      )
    pagination(:info="$page.posts.pageInfo" v-if="$page.posts.pageInfo.totalPages > 1")
    site-footer.py-8(class="sm:py-16")
</template>

<script>
import SiteFooter from '@/components/Footer';
import PostItem from '@/components/PostItem';
import Pagination from '@/components/Pagination';
import config from '~/.temp/config.js';

export default {
  components: {
    PostItem,
    Pagination,
    SiteFooter,
  },
  metaInfo() {
    return {
      title: this.$static.metadata.siteName,
      meta: [
        { property: 'og:type', content: 'website' },
        { property: 'og:title', content: this.$static.metadata.siteName },
        { property: 'og:description', content: this.$static.metadata.siteDescription },
        { property: 'og:url', content: this.$static.metadata.siteUrl },
        { property: 'og:image', content: this.ogImageUrl },

        { name: 'twitter:card', content: 'summary_large_image' },
        { name: 'twitter:title', content: this.$static.metadata.siteName },
        { name: 'twitter:description', content: this.$static.metadata.siteDescription },
        { name: 'twitter:site', content: '@cossssmin' },
        { name: 'twitter:creator', content: '@cossssmin' },
        { name: 'twitter:image', content: this.ogImageUrl },
      ],
    };
  },
  computed: {
    config() {
      return config;
    },
    ogImageUrl() {
      return `${this.config.siteUrl}/images/leela-card.png`;
    },
  },
};
</script>

<page-query>
  query Home ($page: Int) {
    posts: allPost (page: $page, perPage: 15) @paginate {
      totalCount
      pageInfo {
        totalPages
        currentPage
      }
      edges {
        node {
          id
          title
          datetime: date (format: "YYYY-MM-DD HH:mm:ss")
          content
          excerpt
          description
          path
          categories {
            id
            title
            path
          }
        }
      }
    }
  }
</page-query>

<static-query>
  query {
    metadata {
      siteName
      siteUrl
      siteDescription
    }
  }
</static-query>

<style lang="stylus" module>
.menu
  display flex
  justify-content center
</style>
