<template lang="pug">
layout.bg-white
  main
    //- header
    section
      .max-w-xl.mx-auto.text-center.px-6.py-10.border-b.border-gray-300(class="md:max-w-3xl xl:max-w-4xl md:py-32")
        .flow-root
          .my-8
            a.flex.justify-center(href='/tp')
              img(src='/images/1610362519759.jpg' srcset="/images/1610362519759@2x.jpg 2x" alt='leela.space')

            h1.text-4xl.font-sans.font-bold.mb-1(class="sm:text-5xl md:text-6xl")
              g-link.text-black(to="/tp") Leela.space
            p.text-gray-700.text-lg Меня зовут Лила

          .my-8
            a(:class="$style.btn" href="https://docs.google.com/forms/d/1m8VYYviUG6SlPDxX-nC7k0ckFUH28zMOdgmhMueENBQ/edit")
              div
                div Анкета для консультации
                div(:class="$style['btn-subtitle']") жмите сюда

          .my-8
            p.text-gray-700.text-lg Я&nbsp;Джйотиш астролог с&nbsp;опытом консультирования 4&nbsp;года.
            p.text-gray-700.text-lg Рада приветствовать вас на&nbsp;моей страничке!
            p.text-gray-700.text-lg Я&nbsp;познакомилась с&nbsp;наукой астрологии в&nbsp;Индии в&nbsp;день Маха Шиваратри в&nbsp;2014 году и&nbsp;продолжаю изучать Джйотиш, ныряя в&nbsp;его глубины с&nbsp;головой. Мне не&nbsp;видится возможным освоить его когда-либо в&nbsp;полной мере: это древнее знание также безбрежно, как и&nbsp;бездонно!

          .my-8
            a(:class="$style.btn" href="https://www.instagram.com/leela.space/")
              div
                div Для того, чтобы заказать 
                div(:class="$style['btn-subtitle']") консультацию, расчёт совместимости или благоприятного времени для важного события, а&nbsp;также сертификат &laquo;Гороскоп вашего ребёнка&raquo;, пишите в&nbsp;директ

          .my-8
            a(:class="$style.btn" href="https://www.instagram.com/stories/highlights/17985168400281222/")
              div
                div Отзывы о консультациях
                div(:class="$style['btn-subtitle']") после консультации я&nbsp;буду ждать отзыв и&nbsp;от&nbsp;вас 😉
</template>

<script>
import config from '~/.temp/config.js';

export default {
  metaInfo() {
    return {
      title: this.$static.metadata.siteName,
      meta: [
        { property: 'og:type', content: 'website' },
        { property: 'og:title', content: this.$static.metadata.siteName },
        { property: 'og:description', content: this.$static.metadata.siteDescription },
        { property: 'og:url', content: this.$static.metadata.siteUrl },
        { property: 'og:image', content: this.ogImageUrl },

        { name: 'twitter:card', content: 'summary_large_image' },
        { name: 'twitter:title', content: this.$static.metadata.siteName },
        { name: 'twitter:description', content: this.$static.metadata.siteDescription },
        { name: 'twitter:site', content: '@cossssmin' },
        { name: 'twitter:creator', content: '@cossssmin' },
        { name: 'twitter:image', content: this.ogImageUrl },
      ],
    };
  },
  computed: {
    config() {
      return config;
    },
    ogImageUrl() {
      return `${this.config.siteUrl}/images/leela-card.png`;
    },
  },
};
</script>

<static-query>
  query {
    metadata {
      siteName
      siteUrl
      siteDescription
    }
  }
</static-query>

<style lang="stylus" module>
.btn
  color #fff
  background-color #7795f8
  border-radius 3px
  padding 16px
  display flex
  justify-content center
  font-size 1.2rem
.btn-subtitle
  opacity .7
  font-size 1rem
  margin-top .2rem
</style>
