<template lang="pug">
.leading-normal.p-4.mb-12(class='md:mx-6', role='alert')
  slot This is an alert, you should probably pass it some text...
</template>

<script>
export default {
  name: 'Alert',
};
</script>
