<template lang="pug">
footer.text-gray-700.text-sm.leading-normal.flex.flex-wrap.justify-between.mx-auto.max-w-3xl.px-6(class='sm:px-12')
  .w-full.mb-4(class='sm:w-1/2 sm:mb-0')
  .w-full(class='sm:w-1/2')
    nav
      ul.flex.-mx-2(class='sm:justify-end')
        li.px-2
          g-link.border-b.border-transparent.transition-colors.duration-300(to='/', class='hover:border-gray-400') Главная
        li.px-2
          a.border-b.border-transparent.transition-colors.duration-300(href='/feed.xml', class='hover:border-gray-400') RSS Feed
</template>

<script>

export default {
  name: 'Footer',
};
</script>
