<template lang="pug">
section.border-b.border-gray-300.mx-auto.max-w-3xl.px-6.py-16(class='md:px-8')
  nav(role='navigation', aria-label='pagination')
    ul.flex.items-center.justify-between(class='sm:text-lg lg:text-xl')
      li(class='lg:w-1/5')
        g-link.text-gray-700.px-4.py-2.transition-colors.duration-300(:to='previousPage(info.currentPage)', :class="{'pointer-events-none opacity-0': info.currentPage == 1}", class='hover:text-black', :rel="info.currentPage == 1 ? 'nofollow' : 'prev'")
          | ← Previous
      li.hidden.w-auto.text-center.text-gray-600.text-base(class='md:flex') Page {{ info.currentPage }} of {{ info.totalPages }}
      li.text-right(class='lg:w-1/5')
        g-link.text-gray-700.px-4.py-2.transition-colors.duration-300(:to='nextPage(info.currentPage,info.totalPages)', :class="{'pointer-events-none opacity-0': info.currentPage == info.totalPages}", class='hover:text-black', :rel="info.currentPage == info.totalPages ? 'nofollow' : 'next'")
          | Next →
</template>

<script>
export default {
  props: ['base', 'info'],
  computed: {
    basePath() {
      return this.base || '';
    },
  },
  methods: {
    previousPage(currentPage) {
      return [0, 1].includes(currentPage - 1) ? `${this.basePath}/` : `${this.basePath}/${currentPage - 1}/`;
    },
    nextPage(currentPage, totalPages) {
      return totalPages > currentPage ? `${this.basePath}/${currentPage + 1}/` : `${this.basePath}/${currentPage}/`;
    },
  },
};
</script>
