<template lang="pug">
article
  .mx-auto.max-w-3xl.px-6
    .py-8.border-b.border-gray-300(class='sm:py-20')
      header.text-center.mb-8
        time.text-gray-700.text-xs.mb-2.uppercase(:datetime='post.datetime') {{ formatPublishDate(post.datetime) }}
        h2.text-3xl.leading-tight.font-sans.mb-1(class='sm:text-4xl sm:mb-2')
          g-link.text-black.font-bold(:to='`${post.path}/`') {{ post.title }}
        p.text-gray-700.leading-normal.text-sm(class='sm:text-base')
          span(v-if='post.categories && post.categories.length > 0') в категории
            g-link.text-gray-700.border-b.border-transparent.transition-colors.duration-300(
              :to='`${post.categories[0].path}/`'
              class='hover:border-gray-400'
            )  {{ post.categories[0].title }}
      p.leading-normal.text-gray-700.text-lg.px-2(class='sm:px-4 md:px-10' v-html="excerpt(post, 180, ' ...')")
</template>

<script>
import moment from 'moment';

export default {
  props: ['post'],
  computed: {
    formattedPublishDate() {
      return moment(this.post.datetime).format('DD MMMM, YYYY');
    },
  },
  methods: {
    formatPublishDate(date) {
      return moment(date).format('DD MMMM, YYYY');
    },
    excerpt(post, length, clamp) {
      if (post.excerpt) {
        return post.excerpt;
      }

      length = length || 280;
      clamp = clamp || ' ...';
      const text = post.content.replace(/<pre(.|\n)*?<\/pre>/gm, '').replace(/<[^>]+>/gm, '');

      return text.length > length ? `${text.slice(0, length)}${clamp}` : text;
    },
    // titleCase(str) {
    //   return str.replace('-', ' ').split(' ').map((s) => s.charAt(0).toUpperCase() + s.substring(1)).join(' ')
    // }
  },
};
</script>
