<template lang="pug">
header
  <div v-if="post.cover" class="post-cover overflow-hidden relative" :class="[post.fullscreen ? 'fullscreen' : 'max-h-cover']">
    <div class="max-w-xl md:max-w-3xl xl:max-w-4xl text-center px-6 absolute z-10" :class="[post.fullscreen ? 'flex flex-col items-center m-auto inset-0': 'mx-auto bottom-0 inset-x-0 pb-16']">
      <div class="m-auto">
        <h1 class="text-3xl sm:text-5xl font-sans font-bold leading-tight mb-2 text-white">{{ post.title }}</h1>
        <p class="text-white">
          <time :datetime="post.datetime" class="capitalize">{{ formattedPublishDate }}</time>
        </p>
      </div>
    </div>
    <ClientOnly>
      <parallax :speed-factor="speedFactor" :sectionHeight="80">
        <img :src="post.cover" :alt="post.title">
      </parallax>
    </ClientOnly>
  </div>
  .pt-24(v-else)
    .max-w-xl.mx-auto.text-center.px-6(class='md:max-w-3xl xl:max-w-4xl')
      h1.text-3xl.leading-tight.font-sans.font-bold.mb-2.text-black(class='sm:text-5xl') {{ post.title }}
      p.text-gray-700
        time.capitalize(:datetime='post.datetime') {{ formattedPublishDate }}
  nav.absolute.top-0.left-0.z-20.mt-6.ml-6
    g-link.text-sm.border.opacity-75.rounded-full.px-4.py-2.transition-opacity.duration-300(to='/' :class="[post.cover ? 'text-white border-white' : 'text-gray-900 border-gray-400']" class='hover:opacity-100') ← Домой
</template>

<script>
import moment from 'moment';
import Parallax from 'vue-parallaxy';

export default {
  components: {
    Parallax,
  },
  props: ['post'],
  computed: {
    formattedPublishDate() {
      return moment(this.post.datetime).format('DD MMMM, YYYY');
    },
    speedFactor() {
      return this.post.fullscreen ? 0.21 : 0.37;
    },
  },
  methods: {
    titleCase(str) {
      return str.replace('-', ' ')
        .split(' ')
        .map(s => s.charAt(0).toUpperCase() + s.substring(1))
        .join(' ');
    },
  },
};
</script>
